{# Single Page #}

{% extends 'base.twig' %}

{% set company = post.meta('company') %}
{% set nextPost = post.meta('next_project') ? getPost(post.meta('next_project')[0]) : getPost(post.next.id) %}
{% set category = post.terms({taxonomy: 'project_category'}) %}
{% set textHeader = post.meta('header_style') == 'text' ? true : false %}
{% set source = {
        video_url: post.meta('featured_video'),
        aspect_ratio: 'wide',
        video_style: 'background',
        show_controls: true,
        autoplay: false,
        start_at: post.meta('start_at') ? post.meta('start_at') : 0,
        end_at: post.meta('end_at') ? post.meta('end_at') : 0,
        popup_style: 'fullname',
        poster: post.meta('video_thumbnail').url ? post.meta('video_thumbnail').url : NULL
    }   
%}

{% set rowClass = post.meta('gallery_style') == 'offset' ? 'offset-grid two-column' : 'row' %}
{% set cellClass = post.meta('gallery_style') == 'offset' ? 'cell' : 'col-12 col-md-6 grid-gutter-top' %}


{% block content %}
    <div class="d-flex {{ textHeader ? 'flex-column' : 'flex-column-reverse' }}">
        {# Text Content #}
        <div class="content-block two-column-content" data-padding-top="180" data-padding-bottom="{{ textHeader ? '180' : '0' }}">
            <div class="container">
                <div class="row" data-padding-bottom="48">
                    <div class="col-12">
                        <h1 class="h2 text-primary">{{ post.title }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 column-padding left-column">
                        <p class="text-large">{{ post.meta('lead') }}</p>
                        <div class="row mt-5">
                            <div class="col">
                                {% if company[0].post_title  %}
                                    <div class="badge">Company</div>
                                    <div class="text-large mt-3">
                                        {{ company[0].post_title }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col">
                                {% if category %}
                                    <div class="badge">Type</div>
                                    <div class="text-large mt-3">
                                        {% for cat in category %}
                                            {{ cat.name }}{{ loop.last ? '' : ', ' }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 column-padding right-column">
                        {{ post.meta('content') }}
                    </div>
                </div>
            </div>
        </div>
        {# Video Content #}
        <div class="content-block single-column-content" data-padding-top="0" data-padding-bottom="0">
            <div class="content-block__inner background--dark" data-bg-color="#8f1a31" data-bg-offset="true" data-bg-left="0" data-bg-top="-24px" data-bg-width="100%" data-bg-height="70%">
                <div class="container--fluid">
                    {% include 'components/video.twig' with {'source': source } only %}
                </div>
            </div>
        </div>
    </div>

    <div class="content-block card-grid" data-padding-top="180" data-padding-bottom="90">
        <div class="content-block__inner">
            <div class="container--large">
                <div class="{{ rowClass }}">
                    {% for content in post.meta('gallery') %}
                        <div class="{{ cellClass }}" data-sr="left" data-sr-delay="{{ loop.index * 50 }}">
                            {% if content.acf_fc_layout == 'image' %}
                                {% include 'components/image.twig' with {'source': content.image, 'width': 1680, 'height': 1050} only %}
                            {% elseif content.acf_fc_layout == 'video' %}
                                {% set source = {
                                        video_url: content.video,
                                        aspect_ratio: 'wide',
                                        video_style: 'background',
                                        show_controls: false,
                                        autoplay: true,
                                        start_at: content.video_controls.start_at ? content.video_controls.start_at : 0,
                                        end_at: content.video_controls.end_at ? content.video_controls.end_at : 0,
                                        poster: content.video_thumbnail.url ? content.video_thumbnail.url : NULL
                                    }   
                                %}
                                {% include 'components/video.twig' with {'source': source } only %}
                            {% endif %}
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="content-block related-posts" data-padding-top="90" data-padding-bottom="180">
        <div class="content-block__inner">
            <div class="container--large w-100 overflow-hidden background--dark rounded-bg--all">
                <div class="row">
                    <div class="col p-0 background--cover rounded-bg--all" style="background-image: url({{ nextPost.thumbnail.src|towebp }})">
                        {% set nextSource = {
                                video_url: nextPost.meta('featured_video'),
                                aspect_ratio: 'wide',
                                video_style: 'background',
                                poster: nextPost.thumbnail.src ? nextPost.thumbnail.src : NULL
                            }   
                        %}
                        {% include 'components/video.twig' with {'source': nextSource } only %}
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column h-100 justify-content-between" data-padding="60">
                            <h6>Next Project</h6>
                            <h3 data-padding-top="68" data-padding-bottom="68">{{ nextPost.title }}</h3>
                            <div class="text-wrapper text-end">
                                <a class="arrow-link" href="{{ nextPost.link }}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}