{# Single Page #}

{% extends 'base.twig' %}

{% set otherProjects = global.other_projects %}
{% set postTerms = post.terms('case_study_category') %}
{% set theContent = post.meta('content_section') %}
{% set patternUrl = theme.link ~ '/images/om_pattern_5.png' %}
{% set overlaySettings = [{overlay: {
    behind: false,
    position: 'top-left',
    size: '222px',
    image_style: 'default',
    image: {
        url: patternUrl,
        alt: 'opinionmatters arrow pattern'
    }
}}]
%}
{% set overlaySettings2 = [{overlay: {
    behind: false,
    position: 'bottom-right',
    size: '222px',
    image_style: 'default',
    image: {
        url: patternUrl,
        alt: 'opinionmatters arrow pattern'
    }
}}]
%}
{% block content %}
    
    <header class="template-header container--large">
        <div class="abp-grid scale-66 align-items-center">
            <div class="grid-item">
                <div class="components-wrapper position-relative">
                    {% include 'components/partials/image-overlay.twig' with {'source': overlaySettings } %}
                    {% include 'components/partials/image-overlay.twig' with {'source': overlaySettings2 } %}
                    <div class="offset__wrapper" data-padding="60">
                        <div class="page-thumbnail position-relative">
                            <div class="offset__logo">
                                {% include 'components/image.twig' with {'source': post.meta('logo'), 'width': 285, 'height': 120 } %}
                            </div>
                            {% include 'components/image.twig' with {'source': post.thumbnail, 'width': 1200, 'height': 1200, 'imageAspectRatio': 'square'} %}
                        </div>
                    </div>
               
                </div>
            </div>
            <div class="grid-item">
                <div class="components-wrapper mt-5 mt-lg-0 mx-5 mx-lg-0">
                    {% for cat in postTerms %}
                        <h5 class="h5 text-italic eyebrow text-secondary-500 {{ cat.slug }}">{{ cat.name }}</h5>
                    {% endfor %}
                    <h1 class="display">{{ post.title }}</h1>
                </div>
            </div>
    </header>

<section class="content-block single-column-content  mx-4 mx-lg-4 " data-padding-top="180" data-padding-bottom="180" >
    <div class="content-block__inner d-flex background--light ">
        <div class="content-block__background-image  top-right custom" style="background-image: url({{ theme.link ~ '/images/om_pattern_1.png' }});">
            <div class="content-block__background-overlay none"></div>
        </div>
        <div class="container w-100 aos-init aos-animate" data-aos="fade-up">
            <div class="d-flex justify-content-lg-center">
                <div class="col-12 col-lg-12 p-lg-0">
                    <div class="column-wrapper background--none" data-padding-top="120" data-padding-bottom="120" data-padding-left="" data-padding-right="" style="padding-top: 120px; padding-bottom: 120px;">
                        <div class="component-wrapper">
                            <div id="sectionTabs" class="tabs d-block d-lg-flex">
                                <ul class="tabs__menu p-4">
                                    {% for tab in theContent %}
                                    <li class="d-block tabs__menu-item">
                                        <button class="tabs__toggle {{ loop.first ? '' : 'collapsed' }}" data-bs-toggle="collapse" data-bs-tabs="" data-bs-parent="#sectionTabs" data-bs-target="#tabBody-{{ loop.index }}">
                                            <span class="tabs__title">{{ tab.title }}</span>
                                            <span class="icon-btn ms-3 sm round outline text-tertiary-500 tab-inactive"></span>
                                        </button>
                                        <div class="d-block d-lg-none">
                                            <div id="tabBody-{{ loop.index }}" class="tabs__body accordion-collapse mt-3 collapse {{ loop.first ? 'show' : '' }}">
                                                <h3><em class="text-secondary-500">{{ tab.title }}</em></h3>
                                                <p class="m-0">&nbsp;</p>
                                                <p class="text-mono-600">{{ tab.content }}</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="tabs__container d-none d-lg-block">
                                    {% for tab in theContent %}
                                    <div id="tabBody-{{ loop.index }}" class="tabs__body accordion-collapse collapse {{ loop.first ? 'show' : '' }}">
                                        <h3><em class="text-secondary-500">{{ tab.title }}</em></h3>
                                        <p class="m-0">&nbsp;</p>
                                        <p class="text-mono-600">{{ tab.content }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <div class="d-flex text-center w-100 m-3 justify-content-center">
        <center><h5 class="h5 text-italic eyebrow text-secondary-500 b2b-corporate">Other Projects</h5></center>
    </div>
    <div class="content-block related-posts" data-padding-bottom="90">
       
        <div class="container--fluid w-100 aos-init aos-animate">
            <div id="{{ block.id }}-slick-slider"  class="slick case-study-slider" data-num-slides="3" data-arrows="true" data-autoplayspeed="10000">
                {% for item in otherProjects %}
                <div>
                    <div data-aos="fade-up" data-aos-delay="{{ loop.index * 100 }}">
                        {% include 'components/card-case-study.twig' with {'item': item } %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}