{# Set either the src or the url for the image path #}
{% if source.src %}
    {% set imageLink = source.src %}
{% elseif source.url %}
    {% set imageLink = source.url %}
{% else %}
    {% set imageLink = theme.link ~ '/images/placeholder.png' %}
{% endif %}

{# set the alt or the title for the alt attribute#}
{% if source.alt %}
    {% set imageAlt = source.alt %}
{% else %}
    {% set imageAlt = source.title %}
{% endif %}

{# if both a width and height is specified, maintain this aspect ratio for the other breakpoints #}
{% if width and height %}
    {% set quotient = height / width %}
    {% set tabletHeight = quotient * 768 %}
    {% set mobileHeight = quotient * 480 %}
{% endif %}

{% if width is null %}
    {% set width = 'auto' %}
{% endif %}

{# Unique Identifier for SVG #}
{% set uniqueKey = blockId ~ key %}


{# IMAGE STYLES #}
{% if imageAspectRatio == 'om-overlay' %}
    {% set height = width %}
    <div class="om-overlay">
        <div class="om-overlay__overlay"><img src="{{ theme.link ~ '/images/om_hero_image.png' }}" alt="om-logo" /></div>
        <picture class="img-wrapper {{ imageAspectRatio }}" data-width="{{ width }}" data-height="{{ height }}">
            <source media="(max-width:480px)" src="{{ imageLink|resize(NULL,mobileHeight)|towebp }}">
            <source media="(max-width:768px)" src="{{ imageLink|resize(NULL,tabletHeight)|towebp }}">
            <img src="{{ imageLink ? imageLink : theme.link ~ '/images/placeholder.png'|resize(NULL,height)|towebp }}" {{ disableLazy ? '' : 'loading="lazy"' }} alt="{{ imageAlt }}">
        </picture>
    </div>
{% else %}
    <picture class="img-wrapper {{ imageAspectRatio }}" data-width="{{ width }}" data-height="{{ height }}">
        <source media="(max-width:480px)" src="{{ imageLink|resize(NULL,mobileHeight)|towebp }}">
        <source media="(max-width:768px)" src="{{ imageLink|resize(NULL,tabletHeight)|towebp }}">
        <img src="{{ imageLink ? imageLink : theme.link ~ '/images/placeholder.png'|resize(NULL,height)|towebp }}" {{ disableLazy ? '' : 'loading="lazy"' }} alt="{{ imageAlt }}">
    </picture>
{% endif %}