{% set tabs = source.tabs %}
<style>
#tabParent-{{ blockId }}-{{ key }} {
   padding-top: source.padding ? source.padding : 0;
   padding-bottom: source.padding ? source.padding : 0;
}
</style>
<div id="tabParent-{{ blockId }}-{{ key }}" class="tabs d-block d-lg-flex">
   <ul class="tabs__menu p-0 px-lg-4">
      {% for item in tabs %}
         <li class="d-block tabs__menu-item">
            <button class="tabs__toggle {{ loop.first ? '' : 'collapsed' }}" data-bs-toggle="collapse" data-bs-tabs data-bs-parent="#tabParent-{{ blockId }}-{{ key }}" data-bs-target="#tabBody-{{ blockId }}-{{ key }}-{{ loop.index }}"><span class="tabs__title">{{ item.title }}</span><span class="icon-btn ms-3 sm round outline text-tertiary-500 tab-inactive"><i class="fas fa-plus"></i></span><span class="icon-btn ms-3 round sm bg-tertiary-500 tab-active"><i class="fas fa-chevron-right"></i></span></button>
            <div class="d-block d-lg-none">
               <div id="tabBody-{{ blockId }}-{{ key }}-{{ loop.index }}" class="tabs__body accordion-collapse py-4 collapse {{ loop.first ? 'show' : ''}}">
                  {{ item.content }}
               </div>
            </div>
         </li>
      {% endfor %}
   </ul>
   <div class="tabs__container d-none d-lg-block">
      {% for item in tabs %}
         <div id="tabBody-{{ blockId }}-{{ key }}-{{ loop.index }}" class="tabs__body accordion-collapse collapse {{ loop.first ? 'show' : ''}}">
            {{ item.content }}
         </div>
      {% endfor %}
   </div>
</div>

