{% extends 'base.twig' %}

{% block content %}

<header class="container--fluid mt-5 mt-md-0"  data-padding-top="238" data-padding-bottom="120">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ post.title }}</h1>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container--large">
        <div class="row">
        {% for post in posts %}
        <article class="col-12 col-md-6">
            <div class="card style-2 has-hover mb-5">
                <div class="card-thumbnail">
                    <img src="{{ post.thumbnail.src ? post.thumbnail.src : theme.link ~ '/images/placeholder.png'|resize(1000)|towebp }}" alt="{{ background.alt ? post.thumbnail.alt : post.thumbnail.title }}" />
                </div>

                <div class="card-content default">
                    <div class="card-content__header d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="card-title h6">{{ post.title }}</h6>
                            {% if post.meta('excerpt') %}
                                <p class="m-0 card-excerpt">{{ post.meta('excerpt')|truncate(12) }}</p>
                            {% endif %}
                        </div>
                        <a href="{{ post.link }}" class="icon-btn round lg bg-mono-900 text-white me-3"><i class="fa-light fa-arrow-right-long"></i></a>
                    </div>

                </div>

            </div>
        </article>
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}